<html>
    <head>
        <title>Register</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
        </script>
    </head>
    <body>
        <form id = 'registration-form' action='/' method = 'post'>
            <label>Username</label>
            <input type = 'text' name = 'username' required>
            <label>Password</label>
            <input type = 'text' name = 'password' required>
            <label>Main Interest/Hobby</label>
            <input type = 'text' name = 'occupation' required>
            <label>Age</label>
            <input type = 'number' name = 'age' required>
            <label>Enter your 3 favorite movies, and rate them out of 10</label>
            <input type = 'text' name = 'movie1' required>
            <input type = 'text' name = 'movie2' required>
            <input type = 'text' name = 'movie2' required>
            <button type = 'submit'>Register</button>
        </form>
    </body>
</html>