/*# is for id, . is for class*/
/*change font later*/
#movieSection {
  position: center;
}

body {
  background-color: #95d7db;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-size: 12px;
}